body {
    height: 100vh;
    background: #e4e3e35c;
}

header {
    background: #692c2c56;
}

footer {
    background: #692c2c56;
}

#div_frame {
    resize: both;
    overflow: auto;
    width: 360px;
    height: 640px;
    max-width: 600px;
    /* background-color: #0229635c; */
}

#div_controls_page {
    background-color: bisque;
    /* height: 120px; */
    resize: horizontal;
    overflow: auto;
}

#div_background_composition {
    overflow: hidden;
}

#div_background {
    overflow: hidden;
}

#div_foreground {
    overflow: hidden;
}

#div_foreground_gradient {}

#div_foreground_alpha {}

#div_text {
    bottom: 10px;
    left: 10px;
    right: 10px;
}

#span_text {
    color: white;
    font-size: larger;
    line-height: 1;
    font-weight: 500;
}

#div_controls {
    width: 300px;
    padding: 10px;
    overflow-x: auto;
}

#div_main_box {
    max-width: 1000px;
    min-width: 625px;
    background-color: bisque
}

#div_left_box {
    background-color: aquamarine
}

#div_right_box {
    background-color: bisque;
    overflow-x: auto;
}

.control_title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.my_file_label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button_font {
    font-size: 0.9em;
}

.button_font_small {
    font-size: 0.7em;
}

.primary_button {
    color: #fff;
    background-color: #BADA2E;
    border-color: #BADA2E;
}

.bg_primary_dark {
    background-color: #255B0D;
    border-color: #255B0D;
}